﻿
@{
    @using Organisation = TeledocTest.Model.Data.OrganizationInfo
    @model IEnumerable<Organisation>
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}


@section Head{ 
    <link type="text/css" href="~/Css/Index/Core.css" rel="stylesheet" />

}


<div id="organizations-container">
    @foreach (var item in Model)
    {
        <div class="organization-card">
            <div class="organisation-card__header">
                <div class="organization-card__bold-header">
                    @item.Name
                </div>
            </div>
            <div class="organization-card__body">
                <div>
                  ИНН 
                    @item.INN
                </div>
                <div>
                    <div class="organization-card-label">Дата Открытия</div>
                    @item.DateOpen
                </div>
            </div>
            <div class="organization-card__footer">
                <div class="organization-card-label">Учредители</div>
                @foreach (var founder in item.Founders)
                {
                    <div>@founder.LastName @founder.FirstName @founder.MiddleName</div>
                }
            </div>
        </div>
    }

</div>

