﻿

.organization-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e8e8e88c;
    padding: 10%;
    margin: 2%;
    text-align: center;
    width:200px;
    height:300px;
}

.organization-card-label {
    text-align: center;
}

.organization-card__bold-header {
    font-weight: bold;
    font-size: large;
}

.organization-card > div {
    padding: 0 5px;
}
#organizations-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns:repeat(5, min-content);
}