﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Организации</title>
    <link type="text/css" href="~/Css/Main/Core.css" rel="stylesheet"/>
    @RenderSection("Head", false)

</head>
<body>
    <nav>
        <a href="/Index/"><h1 id="nav__logo-lable">Справочник Организаций</h1></a>
        <a id="nav__add-new-organization" href="/Create/">Добавить</a>
    </nav>

    <content>
        <div id="errorContainer"></div>
        @RenderBody()
    </content>

    <footer>
        Все права не защищены
    </footer>

    <script type="text/javascript" src="~/Js/Core.js"></script>
    @RenderSection("Scripts",false)
</body>
</html>
