﻿:root {
    --core-color: #667a98;
    --second-color: #0db778;
    --second-dark-color: #0cbf3b;
}
html{
    display:flex;
    width:100%;
    height:100%;
}
body {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr 10fr 1fr;
    padding: 0;
    margin: 0;

}

nav {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 0 10px;
    background-color: var(--core-color);
}
content {
    display: flex;
    margin: 10px;

}
footer {
    display: flex;
    justify-content:center;
    align-items:flex-end;
    font-size:larger;
    width: 100%;
    height: 100%;
    background-color: var(--core-color);
    color:white;

}
a{
    text-decoration:none;
    color:white;
}
h1{
    color:white;
}

#nav__logo-label{

}
#nav__add-new-organization {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: var(--second-color);
    padding: 5px 10px;
    border-radius: 10px;
    height:50%;
}
#nav__add-new-organization:hover{
    background-color:var(--second-dark-color);
}
#errorContainer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:absolute;
    right:0;
    top:0;
    width:300px;
    font-size:large;
    background-color:rgb(255, 146, 146);
}