﻿
@{
    @using Founder = TeledocTest.Model.Data.FounderInfo
    @model IEnumerable<Founder>
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@section Head{ 
    <link type="text/css" href="~/Css/Create/Core.css" rel="stylesheet" />
}

<div id="form-container">
    <form>
        Добавление новой Организации

        <input type="text" placeholder="Название организации" name="Name" id="form-container__name" />
        <input type="text" placeholder="ИНН" name="Inn" id="form-container__inn"/>

        <div id="form-container__founders">

        </div>

        <input type="button" value="Сохранить" id="form-container__save"/>
    </form>
    <div id="existing-founder">
        Добавить существующего учредителя
        <select id="existing-founder__select">
            @foreach (var item in Model)
            {
                <option value="@item.Id">
                    @item.LastName @item.FirstName @item.MiddleName
                </option>
            }
        </select>
        <input type="button" value="Добавить" id="existing-founder__add" />
    </div>
    <form>
        Создание нового учредителя
        <input type="text" id="create-new-founder--lastName" placeholder="Фамилия" />
        <input type="text" id="create-new-founder--firstName" placeholder="Имя" />
        <input type="text" id="create-new-founder--middleName" placeholder="Отчество" />
        <input type="button" id="create-new-founder--btn" value="Добавить" />
    </form>
</div>

@section Scripts{ 
    <script type="text/javascript" src="~/Js/Create/Core.js"></script>
}
