﻿form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px 0;
}

#form-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

#existing-founder {
    display: flex;
    flex-direction: column;
}
#form-container__founders{
    display:flex;
    justify-content:center;
    flex-direction:column;
}